header { grid-area: h;}
nav    {grid-area: n;}
main   {grid-area: m;}
footer {grid-area: f;}

body {
    display: grid;
    grid:"h h h"
         "n n n"
         "m m m"
         "f f f"
         /2fr 2fr 2fr;
}