
header {
    background-color: #103900;
    display: flex;
    align-items: center;
  }
  
  header img {
    height: 6em;
  }
  
  header h1 {
    font-family: 'Chango', cursive;
  }
  
  nav a {
    font-family: 'Chango', cursive;
    text-align: center;
    text-decoration: none;
    color: #06ba63;
    background-color: #0fff95;
    display: block;
    margin-bottom: 0.10em;
    padding-left: 0.10em;
    padding-right: 0.10em;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    font-family: 'Poppins', sans-serif;
  }
  
  main em {
    font-weight: bold;
  }
  
  footer {
    height: 5em;
    background-color: white;
  }
  
  footer p {
    text-align: center;
  }

  img {
    height: 6em;
  }