
header {
    background-color: #192a51;
    display: flex;
    align-items: center;
  }
  
  header img {
    height: 6em;
  }
  
  header h1 {
    font-family: 'Chango', cursive;
  }
  
  nav a {
    font-family: 'Poppins', sans-serif;
    text-align:end;
    text-decoration: none;
    font-weight: bold;
    color: #157145;
    background-color: #3788c5;
    display: block;
    margin-bottom: 0.15em;
    padding-left: 0.15em;
    padding-right: 0.15em;
  }
  
  nav a:hover {
    text-decoration:underline;
  }
  
  main {
    font-family: 'Poppins', sans-serif;
  }
  
  main em {
    font-weight: bold;
  }
  
  footer {
    height: 5em;
    background-color: white;
  }
  
  footer p {
    text-align: center;
  }
  img {
    height: 6em;
  }